body {
    font-family: "Garamond", "Georgia", serif;
}
h1  {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 64px;
    background-color: orange;
    color: white;
}
ul {
    font-size: 32px;
    color: orange;
    text-align: center;
    list-style-type: none;
}

.background {
    margin-bottom: -450px;
    height: 700px;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}